body {
  background: #9bc4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  text-align: center;
  width: 280px;
  height: 340px;
  background: rgb(255, 255, 255);
  padding: 50px;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
   border: 2px solid #333232;
}
input{
  width: 90%;
  padding: 7px;
  margin-top: 10px;
  font-size: 16px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
} 
button {
  width: 60%;
  padding: 5px;
  margin-top: 10px;
  font-size: 16px;
  background-color: #b8d8f5;
  color: rgb(15, 15, 15);
  border-radius: 10px;
  border: 2px solid #badaf7;
}
